apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: {{ infrastructure_id.stdout }}
{% if machineset_item.0.value.role == "infra" %}
  name: {{ infrastructure_id.stdout }}-{{ machineset_item.0.value.role }}-{{ machineset_item.1.key }}-{{ machineset_item.0.value.version }}
{% else %}
  name: {{ infrastructure_id.stdout }}-{{ machineset_item.0.value.role }}-{{ machineset_item.0.value.name }}-{{ machineset_item.1.key }}-{{ machineset_item.0.value.version }}
{% endif %}
  namespace: openshift-machine-api
spec:
  replicas: {{ machineset_item.0.value.count }}
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ infrastructure_id.stdout }}
{% if machineset_item.0.value.role == "infra" %}
      machine.openshift.io/cluster-api-machineset: {{ infrastructure_id.stdout }}-{{ machineset_item.0.value.role }}-{{ machineset_item.1.key }}-{{ machineset_item.0.value.version }}
{% else %}
      machine.openshift.io/cluster-api-machineset: {{ infrastructure_id.stdout }}-{{ machineset_item.0.value.role }}-{{ machineset_item.0.value.name }}-{{ machineset_item.1.key }}-{{ machineset_item.0.value.version }}
{% endif %}
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{ infrastructure_id.stdout }}
        machine.openshift.io/cluster-api-machine-role: {{ machineset_item.0.value.role }}
        machine.openshift.io/cluster-api-machine-type: worker
{% if machineset_item.0.value.role == "infra" %}
        machine.openshift.io/cluster-api-machineset: {{ infrastructure_id.stdout }}-{{ machineset_item.0.value.role }}-{{ machineset_item.1.key }}-{{ machineset_item.0.value.version }}
{% else %}
        machine.openshift.io/cluster-api-machineset: {{ infrastructure_id.stdout }}-{{ machineset_item.0.value.role }}-{{ machineset_item.0.value.name }}-{{ machineset_item.1.key }}-{{ machineset_item.0.value.version }}
{% endif %}
    spec:
      metadata:
        labels:
{% if machineset_item.0.value.role != "infra" %}
          node-role.kubernetes.io/{{ machineset_item.0.value.name }}: "true"
{% endif %}
          node-role.kubernetes.io/{{ machineset_item.0.value.role }}: ''
          topology.kubernetes.io/zone: "{{ machineset_item.1.key }}"
      providerSpec:
        value:
          apiVersion: machine.openshift.io/v1beta1
          credentialsSecret:
            name: vsphere-cloud-credentials
          diskGiB: {{ machineset_item.0.value.disk }}
          kind: VSphereMachineProviderSpec
          memoryMiB: {{ machineset_item.0.value.ram }}
          metadata:
            creationTimestamp: null
          network:
            devices:
            - networkName: {{ vcenter_network }}
          numCPUs: {{ machineset_item.0.value.cpu }}
          numCoresPerSocket: 2
          snapshot: ""
          template: {{ infrastructure_id.stdout }}-rhcos-{{ vcenter_region }}-{{ vcenter_zone }}
          userDataSecret:
            name: worker-user-data
          workspace:
            datacenter: {{ vcenter_datacenter }}
            datastore: {{ vcenter_defaultDatastore }}
            folder: {{ vcenter_folder }}
            resourcePool: /{{ vcenter_datacenter }}/host/{{ vcenter_cluster }}/Resources
            server: {{ vcenter_url }}
{% if machineset_item.0.value.taint != "-" %}
      taints:
        - effect: NoSchedule
          key: {{ machineset_item.0.value.taint }}
          value: reserved
        - effect: NoExecute
          key: {{ machineset_item.0.value.taint }}
          value: reserved
{% endif %}
