---
ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
ansible_kubeconfig_path: "{{ lookup('ansible.builtin.env', 'HOME') }}/.kube/ansible_{{ cluster_id }}_config"

file_group: ateam

openshift_proxy: http://192.0.2.100:80
openshift_nameservers: 
  - 192.3.1.45
  - 192.3.1.46
openshift_install_directory: /opt/openshift4


vcenter_guestos: rhel9_64Guest
vcenter_region: sued
vcenter_zone: zone1
vm_hardware_version: 19

openshift_backup_path: /opt/backup
api_certificate_path: /opt/api_certificates/{{ cluster_id }}

# additional trusted CAs must be stored in .pem
openshift_install_additionalTrustBundle: |
    -----BEGIN CERTIFICATE-----
    yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
    -----END CERTIFICATE-----


# redhat pullsecrets
openshift_install_pullSecret: >
    '{
      "auths": {
        "cloud.openshift.com": {
          "auth": "{{ cloudopenshiftcom_quayio }}",
          "email": "jane.doe@example.org"
        },
        "quay.io": {
          "auth": "{{ cloudopenshiftcom_quayio }}",
          "email": "jane.doe@example.org"
        },
        "registry.connect.redhat.com": {
          "auth": "{{ registryconnectredhatcom_registryredhatio }}",
          "email": "jane.doe@example.org"
        },
        "registry.redhat.io": {
          "auth": "{{ registryconnectredhatcom_registryredhatio }}",
          "email": "jane.doe@example.org"
        }
      }
    }'

openshift_install_pullSecret_dev: >
    '{
      "auths": {
        "cloud.openshift.com": {
          "auth": "{{ cloudopenshiftcom_quayio }}",
          "email": "james.doe@example.org"
        },
        "quay.io": {
          "auth": "{{ cloudopenshiftcom_quayio }}",
          "email": "james.doe@example.org"
        },
        "registry.connect.redhat.com": {
          "auth": "{{ registryconnectredhatcom_registryredhatio }}",
          "email": "james.doe@example.org"
        },
        "registry.redhat.io": {
          "auth": "{{ registryconnectredhatcom_registryredhatio }}",
          "email": "james.doe@example.org"
        }
      }
    }'

# auth entry for registry.connect.redhat.com/registry.redhat.io pullsecret
registryconnectredhatcom_registryredhatio: "b3Blb="


vcenter_username : USER\svc-vmware-opesnhift
# if vault_vcenter_password gets distinguished between clusters, use inventory 
vcenter_password : !vault |
    $ANSIBLE_VAULT;1.1;AES256
    12341234123412341234123412341234123412341234123412341234123412341234123412341234


sshKey: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    12341234123412341234123412341234123412341234123412341234123412341234123412341234


## secret depot
cloudopenshiftcom_quayio: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    12341234123412341234123412341234123412341234123412341234123412341234123412341234
