apiVersion: v1alpha1
kind: AgentConfig
metadata:
  name: {{ cluster_id }}
rendezvousIP: {{ baremetal_server[0].ip_address[0] }}
additionalNTPSources: {{ ntp_servers }}
hosts:
{%- for server in baremetal_server %}
  - hostname: {{ server.hostname }}
    role: {{ server.role }}
    rootDeviceHints:
      {{ server.rootDeviceHints }}
    interfaces:
      {%- for interface in server.interfaces %}
      - name: {{ interface.name }}
        macAddress: {{ interface.macAddress }}
      {%- endfor %}
      {%- if server.storage_interfaces is defined %}
      {%- for interface in server.storage_interfaces %}
      - name: {{ interface.name }}
        macAddress: {{ interface.macAddress }}
      {%- endfor %}
      {%- endif %}
    networkConfig:
      interfaces:
        {%- if baremetal_configure_vlan_bond is not truthy(convert_bool=True) %}
        - name: eth0
          type: ethernet
          state: up
          mac-address: {{ server.interfaces[0].macAddress }}
          ipv4:
            enabled: true
            address:
            {%- for server_ip in server.ip_address %}
              - ip: {{ server_ip }}
                prefix-length: {{ machine_network_hostprefix }}
            {%- endfor %}
            dhcp: false
        {%- else %}
        - name: bond0.{{ baremetal_vlan }}
          type: vlan
          state: up
          vlan:
            base-iface: bond0
            id: {{ baremetal_vlan }}
          ipv4:
            enabled: true
            address:
            {%- for server_ip in server.ip_address %}
              - ip: {{ server_ip }}
                prefix-length: {{ machine_network_hostprefix }}
            {%- endfor %}
            dhcp: false
        - name: bond0
          type: bond
          state: up
          mac-address: {{ server.interfaces[0].macAddress }}
          ipv4:
            enabled: false
          ipv6:
            enabled: false
          link-aggregation:
            mode: 802.3ad
            options:
              miimon: "150"
            port:
            {%- for interface in server.interfaces %}
             - {{ interface.name }}
            {%- endfor %}
        {%- endif %}  
        {%- if server.storage_interfaces is defined %}
        {%- if baremetal_configure_vlan_bond is not truthy(convert_bool=True) %}
        - name: eth1
          type: ethernet
          state: up
          mac-address: {{ server.storage_interfaces[0].macAddress }}
          ipv4:
            enabled: true
            address:
            {%- for server_ip in server.storage_ip_address %}
              - ip: {{ server_ip }}
                prefix-length: {{ storage_network_hostprefix }}
            {%- endfor %}
            dhcp: false
        {%- else %}
        - name: bond1.{{ baremetal_storage_vlan }}
          type: vlan
          state: up
          vlan:
            base-iface: bond1
            id: {{ baremetal_storage_vlan }}
          ipv4:
            enabled: true
            address:
            {%- for server_ip in server.storage_ip_address %}
              - ip: {{ server_ip }}
                prefix-length: {{ storage_network_hostprefix }}
            {%- endfor %}
            dhcp: false
        - name: bond1
          type: bond
          state: up
          mac-address: {{ server.storage_interfaces[0].macAddress }}
          ipv4:
            enabled: false
          ipv6:
            enabled: false
          link-aggregation:
            mode: 802.3ad
            options:
              miimon: "150"
            port:
            {%- for interface in server.storage_interfaces %}
             - {{ interface.name }}
            {%- endfor %}
        {%- endif %}
        {%- endif %}
      dns-resolver:
        config:
          server: {{ openshift_nameservers }}
      routes:
        config:
          - destination: 0.0.0.0/0
            next-hop-address: {{ openshift_gateway }}
            {%- if baremetal_configure_vlan_bond is not truthy(convert_bool=True) %}
            next-hop-interface: eth0
            {%- else %}
            next-hop-interface: bond0.{{ baremetal_vlan }}
            {%- endif %}
            table-id: 254
          {%- if server.storage_interfaces is defined %}
          - destination: 0.0.0.0/0
            next-hop-address: {{ openshift_gateway }}
            {%- if baremetal_configure_vlan_bond is not truthy(convert_bool=True) %}
            next-hop-interface: eth1
            {%- else %}
            next-hop-interface: bond1.{{ baremetal_storage_vlan }}
            {%- endif %}
            table-id: 253
          {%- endif %}
{%- endfor %}
