apiVersion: v1
baseDomain: {{ openshift_install_baseDomain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: {{ openshift_install_worker }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  creationTimestamp: null
  name: {{ cluster_id }}
networking:
  clusterNetwork:
  - cidr: {{ cluster_network }}
    hostPrefix: {{ cluster_network_hostprefix }}
  machineNetwork:
  - cidr: {{ machine_network }}
  networkType: OVNKubernetes
  serviceNetwork:
  - {{ service_network }}
proxy:
  httpProxy: {{ openshift_proxy }}
  httpsProxy: {{ openshift_proxy }}
  noProxy: {{ openshift_install_noProxy }}
platform:
  baremetal:
    apiVIPs:
      - {{ vcenter_apiVIP }}
    ingressVIPs:
      - {{ vcenter_ingressVIP }}
pullSecret: {{ openshift_install_pullSecret }}
sshKey: {{ sshKey }}
additionalTrustBundle: |
{{ openshift_install_additionalTrustBundle | indent(2, True) }}
