apiVersion: v1
baseDomain: {{ openshift_install_baseDomain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  {%- if openshift_sno is truthy(convert_bool=True) or openshift_compact_cluster is truthy(convert_bool=True) %}
  replicas: 0
  {%- else %}
  replicas: {{ openshift_install_worker }}
  {%- endif %}
  {%- if openshift_baremetal is not truthy(convert_bool=True) %}
  platform:
    vsphere:
      cpus: 8
      coresPerSocket: 2
      memoryMB: 16384
      osDisk:
        diskSizeGB: 120
  {%- endif %}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  {%- if openshift_sno is truthy(convert_bool=True) %}
  replicas: 1
  {%- else %}
  replicas: 3
  {%- endif %}
  {%- if openshift_baremetal is not truthy(convert_bool=True) %}
  platform:
    vsphere:
      cpus: {{ master_cpus }}
      coresPerSocket: 2
      memoryMB: {{ master_memoryMB }}
      osDisk:
        diskSizeGB: 120
  {%- endif %}
metadata:
  creationTimestamp: null
  name: {{ cluster_id }}
networking:
  clusterNetwork:
  - cidr: {{ cluster_network }}
    hostPrefix: {{ cluster_network_hostprefix }}
  machineNetwork:
  - cidr: {{ machine_network }}
  {%- if openshift_sdn_network is truthy(convert_bool=True) %}
  networkType: OpenShiftSDN
  {%- else %}
  networkType: OVNKubernetes
  {%- endif %}
  serviceNetwork:
  - {{ service_network }}
proxy:
  httpProxy: {{ openshift_proxy }}
  httpsProxy: {{ openshift_proxy }}
  noProxy: {{ openshift_install_noProxy }}
platform:
  {%- if openshift_baremetal_platform == 'baremetal' %}
  baremetal:
    apiVIPs:
      - {{ vcenter_apiVIP }}
    ingressVIPs:
      - {{ vcenter_ingressVIP }}
  {%- elif openshift_baremetal_platform == 'none' %}
  none: {}
  {%- else %}
  vsphere:
    apiVIPs:
      - {{ vcenter_apiVIP }}
    ingressVIPs:
      - {{ vcenter_ingressVIP }}
    {%- if openshift_sdn_network is not truthy(convert_bool=True) %}
    hosts:
    - role: bootstrap
      networkDevice:
        ipAddrs:
        - {{ static_ip['bootstrap'] }}
        gateway: {{ openshift_gateway }}
        nameservers: {{ openshift_nameservers }}
    - role: control-plane
      networkDevice:
        ipAddrs:
        - {{ static_ip['master-0'] }}
        gateway: {{ openshift_gateway }}
        nameservers: {{ openshift_nameservers }}
    - role: control-plane
      networkDevice:
        ipAddrs:
        - {{ static_ip['master-1'] }}
        gateway: {{ openshift_gateway }}
        nameservers: {{ openshift_nameservers }}
    - role: control-plane
      networkDevice:
        ipAddrs:
        - {{ static_ip['master-2'] }}
        gateway: {{ openshift_gateway }}
        nameservers: {{ openshift_nameservers }}
    - role: compute
      networkDevice:
        ipAddrs:
        - {{ static_ip['worker-0'] }}
        gateway: {{ openshift_gateway }}
        nameservers: {{ openshift_nameservers }}
    - role: compute
      networkDevice:
        ipAddrs:
        - {{ static_ip['worker-1'] }}
        gateway: {{ openshift_gateway }}
        nameservers: {{ openshift_nameservers }}
    - role: compute
      networkDevice:
        ipAddrs:
        - {{ static_ip['worker-2'] }}
        gateway: {{ openshift_gateway }}
        nameservers: {{ openshift_nameservers }}
    {%- endif %}
    failureDomains:
    - name: OpenShift_MIA
      region: {{ vcenter_region }}
      server: {{ vcenter_url }}
      topology:
        computeCluster: "/{{ vcenter_datacenter }}/host/{{ vcenter_cluster }}"
        datacenter: {{ vcenter_datacenter }}
        datastore: "/{{ vcenter_datacenter }}/datastore/{{ vcenter_defaultDatastore }}"
        networks:
        - {{ vcenter_network }}
        folder: "{{ vcenter_folder }}"
      zone: {{ vcenter_zone }}
    vcenters:
    - datacenters:
      - {{ vcenter_datacenter }}
      password: {{ vcenter_password }}
      port: 443
      server: {{ vcenter_url }}
      user: {{ vcenter_username }}
    diskType: thin
  {%- endif %}
{%- if  git_revision == 'dev' %}
pullSecret: {{ openshift_install_pullSecret_dev }}
{%- else %}
pullSecret: {{ openshift_install_pullSecret }}
{%- endif %}
sshKey: {{ sshKey }}
additionalTrustBundle: |
{{ openshift_install_additionalTrustBundle | indent(2, True) }}
